.container {
  box-sizing: border-box;
  padding: 20px 100px 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.article {
  width: 65%;
}
.swiper {
  width: 100%;
  height: 180px;
  border: 1px solid #f1f1f1;
  text-align: center;
  line-height: 160px;
}
#canvas {
  background:#000;
  display:block;
  width: 100%;
  height: 100%;
}
.aslide {
  width: 30%;
}
.aslide.fixed {
  position: fixed;
  right: 5%;
  top: 10px;
}
.article .hd {
  line-height: 45px;
}

/* 公告 */
.aslide-model {
  border: 1px solid #eaeaea;
  min-height: 160px;
  _height: 160px;
  margin-bottom: 20px;
  transition: .5s;
  background-color: #ffffff;
}
.aslide-model .hd {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #eaeaea;
  background-color: #fbfbfb;
}
.aslide-model .hd span {
  display: inline-block;
  height: 100%;
  padding: 0 20px 0 10px;
  background-color: #ffffff;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #ffffff;
}
.aslide-model-cont {
  padding: 5px 10px;
  line-height: 30px;
  font-size: 14px;
}
/* .aslide-model-cont li {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}
.aslide-model-cont li a:hover {
  color: #45BCF9;
}
.aslide-model-cont li a {
  color: #333333;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0px 0px 2px #ffffff;
}
.aslide-model-cont li span {
  float: right;
} */

/* 搜索 */
.search-bar {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.search-bar input {
  box-sizing: border-box;
  height: 100%;
  width: 70%;
  outline: none;
  border: 1px solid #eaeaea;
  text-indent: 20px;
  font-size: 14px;
}
.search-bar input::placeholder {
  color: #999999;
}
.search-bar .btn-search {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  border: 1px solid #eaeaea;
  border-left: none;
  cursor: pointer;
}
.btn-search:hover {
  color: #45BCF9;
}


/* 最近文章 */
.aslide-recent-articles {
  border: 1px solid #eaeaea;
  min-height: 160px;
  _height: 160px;
  margin-bottom: 20px;
  transition: .5s;
  background-color: #ffffff;
}
.aslide-recent-articles .hd {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #eaeaea;
  background-color: #fbfbfb;
  display: flex;
}
.aslide-recent-articles .hd span {
  display: flex;
  height: 100%;
  padding: 0 20px 0 10px;
  background-color: #ffffff;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #ffffff;
}
.recent-articles-cont li {
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  border-bottom: 1px solid #f0f0f0;
}
.recent-articles-cont li:last-child {
  border-bottom: 0;
}
.recent-articles-cont li a:hover {
  color: #45BCF9;
}
.recent-articles-cont li a {
  color: #333333;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0px 0px 2px #ffffff;
  cursor: pointer;
}

.article-wrap {
  min-height: 280px;
  _height: 280px;
}
.article-wrap ul li,.pagination{
  padding: 20px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  display: flex;
  backface-visibility: hidden;
  transition: .5s;
  position: relative;
  border-bottom: 0;
}
.article-wrap ul li:hover {
  box-shadow: 0 0 10px #f0f0f0;
}
.article-wrap ul li.bot {
  border-bottom: 1px solid #f0f0f0;
}
.article-wrap ul li .recent {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 38px;
  color: #45BCF9;
}
.article-wrap ul li:hover .img-hd img {
  transform: scale(1.02);
}
.article-wrap ul li:hover {
  background-color: #f6f6f6;
}
.article-wrap ul li .img-hd img {
  width: 100%;
  height: 100%;
  transition: all .5s;
}
.article-wrap ul li .img-hd {
  display: inline-block;
  width: 220px;
  height: 150px;
  margin-right: 10px;
}
.article-wrap .pagination {
  margin-top: 20px;
}
.article-wrap .cont {
  box-sizing: border-box;
  width: 100%;
}
.cont header .tag {
  color: #fff;
  background-color: #45BCF9;
  padding: 3px 6px;
  font-size: 12px;
  display: inline-block;
  position: relative;
  margin-right: 6px;
  transition: color 0.25s, background-color 0.25s;
}
header .tag:hover {
  opacity: .85;
}
.header .tag:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: -4px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-left: 4px solid #45BCF9;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
header .tit {
  display: inline-block;
  color: #333333;
}
header .tit:hover {
  color: #45BCF9;
}
.cont .meta {
  font-size: 12px;
  color: #999999;
  margin: 16px 0;
}
.meta span {
  margin-right: 14px;
}
.meta span:last-child {
  float: right;
}
.desc {
  font-size: 12px;
  color: #999;
  word-wrap: break-word;
  line-height: 20px;
  margin-bottom: 0;
}
/* 分页 */
#pagination-wrap {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.total-page {
  margin: auto;
}
.btn-home,.btn-pre,.btn-next {
  margin: 0 10px;
  border: 1px solid #f1f1f1;
  padding: 5px 10px;
  cursor: pointer;
}
.btn-home:hover,.btn-pre:hover,.btn-next:hover {
  color: #45BCF9;
  border-color: #45BCF9;
}